<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/css/all.css" rel="stylesheet"/>
    <link href="/lib/css/fontawesome.css" rel="stylesheet"/>
    <link href="/lib/css/vue/vuetify.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
<div >
    <main id="app">


    </main>
</div>
<template id="documents">
    <v-app>
        <div>


            <v-app-bar

                    dense
                    dark
            >
                <v-app-bar-nav-icon></v-app-bar-nav-icon>
                <!--				<img  src="/assets/css/epicentrLogo.svg"/>-->
                <v-toolbar-title>Epicentr</v-toolbar-title>
                <v-spacer></v-spacer>



                <v-tooltip  bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn icon  th:href="@{/}">
                            <v-icon>mdi-home</v-icon>
                        </v-btn>
                    </template>
                    <span>Admin page</span>
                </v-tooltip>
                <v-tooltip  bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn sec:authorize="hasRole('ROLE_ADMIN')" icon  th:href="@{/admin/home}">
                            <v-icon>mdi-alert-circle</v-icon>
                        </v-btn>
                    </template>
                    <span>Admin page</span>
                </v-tooltip>
                <!--				<v-btn icon  th:href="@{/product-add}">-->
                <!--					<v-icon>mdi-image-plus</v-icon>-->
                <!--				</v-btn>-->
                <v-tooltip  bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/documents}" icon>
                            <v-icon>mdi-file-document</v-icon>
                        </v-btn>
                    </template>
                    <span>Documents</span>
                </v-tooltip>
                <!--				<v-tooltip  bottom>-->
                <!--					<template v-slot:activator="{ on, attrs }">-->
                <!--						<v-btn v-bind="attrs" v-on="on"  th:href="@{/admin/document/create}" icon>-->
                <!--							<v-icon>mdi-text-box-plus </v-icon>-->
                <!--						</v-btn>-->
                <!--					</template>-->
                <!--					<span>Create Document</span>-->
                <!--				</v-tooltip>-->
                <a sec:authorize="isAuthenticated()" th:href="@{/profile}">
                    <v-btn icon>
                        <v-icon>mdi-account</v-icon>
                    </v-btn>

                </a>
                <v-tooltip sec:authorize="isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/myorders}" icon>
                            <v-icon>mdi-order-bool-descending</v-icon>
                        </v-btn>
                    </template>
                    <span>My orders</span>
                </v-tooltip>
                <v-tooltip sec:authorize="isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/cart}" icon>
                            <v-icon>mdi-cart</v-icon>
                        </v-btn>
                    </template>
                    <span>Cart</span>
                </v-tooltip>
                <v-tooltip sec:authorize="isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/logout}" icon>
                            <v-icon>mdi-exit-to-app</v-icon>
                        </v-btn>
                    </template>
                    <span>Logout</span>
                </v-tooltip>
                <v-tooltip sec:authorize="!isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/login}" icon>
                            <v-icon>mdi-account-arrow-right</v-icon>
                        </v-btn>
                    </template>
                    <span>Login</span>
                </v-tooltip>
                <v-tooltip sec:authorize="!isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/register}" icon>
                            <v-icon>mdi-account-plus</v-icon>
                        </v-btn>
                    </template>
                    <span>Register</span>
                </v-tooltip>
            </v-app-bar>
        </div>
        <div class="container">
            <v-card>
                <v-card-text>
                    <h3 th:text="${document.getName()}"></h3>
                    <h4>Files:</h4>
                    <div th:each="file : ${document.getDocumentFiles()}">
                    <a th:href="'/files/'+${file.getFile_name()}" download>
                        <v-btn icon>
                            <v-icon>mdi-download</v-icon>
                        </v-btn>
                    </a>
                    </div>
                </v-card-text>

            </v-card>

        </div>

    </v-app>
</template>

<script src="/lib/js/jquery.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/vue/vue.min.js"></script>
<script src="/lib/js/vue/vue-router.min.js"></script>
<script src="/lib/js/vue/vuetify.js"></script>
<script src="/lib/js/fontawesome.js"></script>
<script src="/lib/js/all.js"></script>
<script>
    var Documents = Vue.extend({
        template: '#documents'
        // data: function () {
        //
        // }
    });
    new Vue({
        vuetify: new Vuetify(),
        render: h => h(Documents)
    }).$mount('#app')

</script>
</body>
</html>