<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/css/all.css" rel="stylesheet"/>
    <link href="/lib/css/fontawesome.css" rel="stylesheet"/>
    <link href="/lib/css/vue/vuetify.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
<div >
    <main id="app">


    </main>
</div>
<template id="documents">
    <v-app>
        <div>


            <v-app-bar
                    color="deep-purple accent-4"
                    dense
                    dark
            >
                <v-app-bar-nav-icon></v-app-bar-nav-icon>

                <v-toolbar-title>Epicentr</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn icon  th:href="@{/products}">
                    <v-icon>mdi-camera-burst </v-icon>
                </v-btn>
                <v-btn icon  th:href="@{/}">
                    <v-icon>mdi-home</v-icon>
                </v-btn>
                <v-tooltip  bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/documents}" icon>
                            <v-icon>mdi-file-document</v-icon>
                        </v-btn>
                    </template>
                    <span>Documents</span>
                </v-tooltip>
                <v-tooltip  bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/admin/document/create}" icon>
                            <v-icon>mdi-text-box-plus </v-icon>
                        </v-btn>
                    </template>
                    <span>Create Document</span>
                </v-tooltip>
                <a sec:authorize="isAuthenticated()" th:href="@{/profile}">
                    <v-btn icon>
                        <v-icon>mdi-account</v-icon>
                    </v-btn>

                </a>
                <v-tooltip sec:authorize="isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/myorders}" icon>
                            <v-icon>mdi-order-bool-descending</v-icon>
                        </v-btn>
                    </template>
                    <span>My orders</span>
                </v-tooltip>
                <v-tooltip sec:authorize="isAuthenticated()" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on"  th:href="@{/logout}" icon>
                            <v-icon>mdi-exit-to-app</v-icon>
                        </v-btn>
                    </template>
                    <span>Logout</span>
                </v-tooltip>

                <v-menu
                        left
                        bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                icon
                                v-bind="attrs"
                                v-on="on"
                        >
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                                v-for="n in 5"
                                :key="n"
                                @click="() => {}"
                        >
                            <v-list-item-title>Option {{ n }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-app-bar>
        </div>
        <div class="container">

        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2" th:each="document : ${documents}"  >
                <v-card>
                    <v-card-text>
                        <h3 th:text="${document.getName()}"></h3>
                    </v-card-text>
                    <v-card-actions>
                        <a th:href="'/document-view/' + ${document.getId()}">
                            <v-btn

                                    text
                                    color="deep-purple accent-4"
                            >
                                Learn More
                            </v-btn>
                        </a>
                    </v-card-actions>
                </v-card>
            </div>
        </div>

        </div>
    </v-app>
</template>

<script src="/lib/js/jquery.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/vue/vue.min.js"></script>
<script src="/lib/js/vue/vue-router.min.js"></script>
<script src="/lib/js/vue/vuetify.js"></script>
<script src="/lib/js/fontawesome.js"></script>
<script src="/lib/js/all.js"></script>
<script>
    var Documents = Vue.extend({
        template: '#documents',
        data: function () {
            return {product: {}};
        }
    });
    new Vue({
        vuetify: new Vuetify(),
        render: h => h(Documents)
    }).$mount('#app')

</script>
</body>
</html>