<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
       layout:decorator="layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/css/all.css" rel="stylesheet"/>
    <link href="/lib/css/fontawesome.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
    <div sec:authorize="isAuthenticated()">
        <div class="container">

            <div class="row">
                <div class="col-sm-12" id="cart">
                    <h1 class="display-3">Cart</h1>
                    <div class="container mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Available</th>
                                            <th scope="col" class="text-center">Quantity</th>
                                            <th scope="col" class="text-right">Price</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="item : ${products}">
                                        <tr id="{{$item->id}}">
                                            <td>
                                                <img th:src="'/files/' + ${item.image_name}" width="75">
                                            </td>
                                            <td data-th-text="${user.login}"></td>

                                            <td>In stock</td>
                                            <td style="width: 100px"><input
                                                    class="form-control count" type="number"
                                                    min="1"
                                                    max="{{$item->count}}" value="1"/></td>

                                            <td class="text-right prc">{{$item->price}}</td>
                                            <td class="text-right">
                                                <form action="/cart/deleteProduct/{{$item->id}}"
                                                      method="post">
                                                    <button class="btn btn-sm btn-danger" type="submit"><i
                                                            class="fa fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-right"><strong id="total"></strong></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="row">
                                    <div class="col-sm-12  col-md-6">
                                        <a href="{{ route('products.index')}}" class="btn btn-block btn-light">Continue
                                            Shopping</a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-right">
                                        <form id="create" method="post" action="{{ route('cart.store') }}">
                                            <input type="hidden" id="ids"/>
                                            <input type="hidden" id="counts"/>
                                            <button type="submit" id="upload"
                                                    class="btn btn-lg btn-block btn-success text-uppercase">Make order
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <h4>Ваш кошик пустий</h4>
    </div>
</div>
<div layout:fragment="scripts">
    <script>
        let glPrice = 0;
        let total = $('#total');
        (function ($) {
            $(document).ready(function () {
                function CalcTotal() {
                    let trs = $("tbody tr").not(":last");
                    trs.each(function () {
                        let count = $(this).find('input[type=number]')[0].value;
                        let price = $(this).find(".prc")[0].innerText;
                        glPrice += (parseInt(count) * parseInt(price));
                    });
                    console.log(total);
                    total.html(glPrice.toString());
                    glPrice = 0;
                }

                $('input[type=number]').on('change', CalcTotal);
                CalcTotal();
            });
        })(jQuery);
    </script>
    <script>
        let counts = $("#counts");
        let ids = $("#ids");
        (function ($) {
            $(document).ready(function () {
                let button = $('#upload');
                button.on('click', function () {
                    let trs = $("tbody tr").not(":last");
                    trs.each(function () {
                        let id = $(this).prop('id');
                        let count = $(this).find('input[type=number]')[0].value;
                        counts.append('<input type="hidden" name="productId[]" value="' + id + '">');
                        ids.append('<input type="hidden" name="productCount[]" value="' + count + '">');
                        console.log(id);
                        console.log(count);
                    })
                });
            });
        })(jQuery);
    </script>
</div>
</body>
</html>