<!DOCTYPE html>
<html >
<head>

    <title>Forgot password</title>

    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/css/vue/vuetify.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <main id="app">
        <router-view></router-view>
    </main>
</div>

<template id="fp">
    <v-card class="mt-4" shaped="true">
    <v-form v-model="valid"  th:action="@{/forgotpassword}" method="post">
        <v-container>
            <v-row>
                <v-col
                        cols="12"
                        md="4"
                >
                <div class="d-flex flex-column ml-4 mt-2">
                    <p class="text-xl-h4 text-uppercase">Forgot password form</p>
                        <v-text-field
                                name="email"
                                type="email"
                                v-model="email"
                                :rules="emailRules"
                                label="Email"
                                required
                        ></v-text-field>
                </div>
                </v-col>
            </v-row>
        </v-container>
        <div class="d-flex justify-content-end">
            <v-btn class="m-3" rounded type="submit" color="primary" dark>Send code</v-btn>
        </div>
    </v-form>
    </v-card>
</template>
<!--  <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>-->
<script src="/lib/js/vue/vue.min.js"></script>
<script src="/lib/js/vue/vue-router.min.js"></script>
<script src="/lib/js/vue/vuetify.js"></script>
<!--  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>-->
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="/forgot.js"></script>

</body>
</html>
