.uploader {
  display: flex;
  flex-direction: column;
  position: relative; }
  .uploader .wrapper {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    align-self: center;
    box-sizing: border-box; }
    .uploader .wrapper .images {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: center; }
      .uploader .wrapper .images .img,
      .uploader .wrapper .images .pic {
        margin-bottom: 10px;
        border-radius: 4px; }
      .uploader .wrapper .images .pic {
        border: dashed #0000b3 2px;
        width: 100%;
        align-self: center;
        text-align: center;
        padding: 60px 0;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer; }
