<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="user/layouts/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/css/all.css" rel="stylesheet"/>
    <link href="/lib/css/fontawesome.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
    <div sec:authorize="isAuthenticated()">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="cart">
                    <h1 class="display-3">Cart</h1>
                    <div class="container mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Available</th>
                                            <th scope="col" class="text-center">Quantity</th>
                                            <th scope="col" class="text-right">Price</th>
                                            <th scope="col" class="text-right">Discount</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="item : ${products}">
                                        <tr th:id="${item.id}">
                                            <td>
                                                <img th:src="'/files/' + ${item.image_name}" width="75">
                                            </td>
                                            <td th:text="${item.name}"></td>

                                            <td>In stock</td>
                                            <td style="width: 100px"><input
                                                    class="form-control count" type="number"
                                                    min="1"
                                                    th:max="10" value="1"/></td>

                                            <td class="text-right prc" th:text="${item.price}"></td>
                                            <td class="text-right dis" th:text="${item.discount}"></td>

                                            <td class="text-right">
                                                <button class="btn btn-sm btn-danger" th:name="${item.id}" id="btnDel">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-right"><strong id="total"></strong></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="row">
                                    <div class="col-sm-12  col-md-6">
                                        <a href="/#/" class="btn btn-block btn-light">Continue
                                            Shopping</a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-right">
                                        <form id="create" method="post" action="/cart-order">
                                            <input type="hidden" id="ids"/>
                                            <input type="hidden" id="counts"/>
                                            <button type="submit" id="upload"
                                                    class="btn btn-lg btn-block btn-success text-uppercase">Make order
                                            </button>
                                            <span id="error" style="color:darkred; margin-top:25px;margin-right: 25%; font-size: 13px; font-weight: bold;"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <h4>Ви не зареєструвались!</h4>
    </div>
</div>
<div layout:fragment="scripts">
    <script src="/lib/js/fontawesome.js"></script>
    <script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>

    <script>
        (function ($) {
            $("#btnDel").click(function (e) {
                $.cookie.raw = true;
                let prod_id = parseInt($(this).attr('name'));
                let expDate = new Date();

                let oldCart = JSON.parse($.cookie('cart'));
                oldCart.splice($.inArray(prod_id, oldCart), 1);
                $.cookie('cart', JSON.stringify(oldCart), {path: '/', expires: expDate.getTime()});

                location.reload();
                return false;
            });
        })(jQuery);
    </script>
    <script>
        let glPrice = 0;
        let total = $('#total');
        (function ($) {
            $(document).ready(function () {
                function CalcTotal() {
                    let trs = $("tbody tr").not(":last");
                    trs.each(function () {
                        let count = parseInt($(this).find('input[type=number]')[0].value);
                        let price = parseInt($(this).find(".prc")[0].innerText);
                        let discount = parseInt($(this).find(".dis")[0].innerText);
                        glPrice += (count * (price-price/100 * discount));
                    });
                    console.log(total);
                    total.html(glPrice.toString());
                    glPrice = 0;
                }

                //$('input[type=number]').on('change', CalcTotal);
                $(".count").change(function() {
                    if(parseInt($(this).val())>10)
                    {
                        $("#error").text("Max count value is 10");
                        $(this).val(10);
                    }
                    CalcTotal();
                });
                CalcTotal();
            });
        })(jQuery);
    </script>
    <script>
        let counts = $("#counts");
        let ids = $("#ids");
        (function ($) {
            $(document).ready(function () {
                let button = $('#upload');
                button.on('click', function () {
                    let trs = $("tbody tr").not(":last");
                    trs.each(function () {
                        let id = $(this).prop('id');
                        let count = $(this).find('input[type=number]')[0].value;
                        counts.append('<input type="hidden" name="productId[]" value="' + id + '">');
                        ids.append('<input type="hidden" name="productCount[]" value="' + count + '">');
                        console.log(id);
                        console.log(count);
                    })
                });

                $("form").submit(function(e){
                    if($('#myTable tr').length<=1)
                    {
                        e.preventDefault();
                        $("#error").text("Add some products before ordering");
                    }
                });
            });
        })(jQuery);
    </script>
    <script th:src="@{'/lib/js/bootstrap.min.js'}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="/lib/js/all.js"></script>
</div>
</body>
</html>